// Table of Content
//==================================================
// Page Style
// Header Style
// Logo style
// Nav style
// Content Style
// SideBar Style
// Footer Style
//==================================================

//	PAGE Style
//==================================================
section{
    .flexbox();
    height : 100%;

    &#home{
        height          : 100%;
        background      : url('../images/mobissimo-bg.jpg') 50% -75px no-repeat;
        background-size : contain;
        .flex-direction(row);

        main{
            margin-bottom : 15%;
            text-align    : center;
            .flex-box-align(flex-end);
        }
    }
}

//	HEADER Style
//==================================================
header{
    min-height  : @nav-height;
    line-height : @nav-height;
    background  : @header-bg;
    color       : @header-color;

    // -- LOGO Style
    .logo{
        margin-top    : 0;
        margin-bottom : 0;

        a{ }
        img{
            margin : 0;
            .box-shadow(none);
        }
    }

    // -- NAV in HEADER Style
    nav{ }
}

// -- NAV Style
nav{ }

//	CONTENT Style
//==================================================
main{
    .flex-box-size(1);
    position : relative;
    padding  : @padding-base-vertical @padding-base-horizontal;
}

.polaroid-images{
    position            : absolute;
    left                : 0;
    top                 : 0;
    bottom              : 0;
    right               : 0;
    margin              : auto;
    max-height          : 95%;
    max-width           : 95%;
    background          : #000;
    -webkit-box-shadow  : 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow     : 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow          : 0 4px 6px rgba(0, 0, 0, .3);
    border              : 15px solid #fff;
    border-bottom-width : 50px;
}

//	SIDEBAR Style
//==================================================
aside{
    .aside-box{
        margin-bottom : 30px;
    }
}

#left{
    .aside-box{
    }
}

#right{
    .aside-box{
    }
}

footer{
    min-height : @nav-height;
    background : @footer-bg;
    color      : @footer-color;

    p{ }

    .footer-box{ }
}

//	Button to scroll top
//==================================================
#go-top{
    .button-color(#fff; fade(#000, 50%); fade(#000, 50%); @primary-color; @primary-bg; @primary-bg);
}