// Table of Content
//==================================================
// Page Style
// Header Style
// Logo style
// Nav style
// Content Style
// SideBar Style
// Footer Style
//==================================================

//	PAGE Style
//==================================================
section{
    height          : 100%;
    background      : @section-bg;
    background-size : cover;
    overflow        : auto;

    section{
        position : fixed;
        top      : 0;
        left     : 0;
        bottom   : 0;
        right    : 0;
        z-index  : 500;
    }
}

//	HEADER Style
//==================================================
header{

    #home &{
        border-bottom: 1px dashed fade(#fff, 15%);
    }

    &.fixed{
        position    : fixed;
        top         : 0;
        left        : 0;
        right       : 0;
        z-index     : 100 !important;
        height      : @header-height;
        line-height : @header-height;
        background  : @header-bg;
        color       : @header-color;
    }

    // -- NAV in HEADER Style
    nav{ }
}

// -- NAV Style
nav{ }

//	CONTENT Style
//==================================================
main{
    position : relative;
    z-index  : 10;
    padding  : @padding-base-vertical @padding-base-horizontal;

    &.mh{
        margin-top : @header-height;
    }
}
#page-preview{
    .overlay-dotted();

    main{
        position : relative;
        height   : 100%;
    }

    &:hover{
        .btn-image{
            display : block;
        }
    }

    img{
        position   : absolute;
        left       : 0;
        top        : 0;
        bottom     : 0;
        right      : 0;
        margin     : auto;
        width      : 100%;
        min-width  : 100%;
        max-height : none;
        max-width  : none;
        .box-shadow(3px 3px 15px #000);
    }

    .btn-image{
        position   : fixed;
        top        : 0;
        bottom     : 0;
        width      : 50px;
        z-index    : 500;
        background : fade(#fff, 20%);
        cursor     : pointer;
        display    : none;

        .mobile &{
            display : none !important;
        }

        &.prev{
            left : 0;
        }

        &.next{
            right : 0;
        }

        &:before{
            font-size : 32px;
            width     : 32px;
            height    : 32px;
            position  : absolute;
            top       : 0;
            bottom    : 0;
            left      : 0;
            right     : 0;
            margin    : auto;
        }

    }

    &.imgShow{
        header, footer{
            display : none;
        }
    }
}

@media only screen and (max-width : @responsive-size-tablet){
    #upload-form{
        text-align : center;
    }
}

//	SIDEBAR Style
//==================================================
aside{
    .aside-box{
        margin-bottom : 30px;
    }
}

#left{
    .aside-box{
    }
}

#right{
    .aside-box{
    }
}

footer{
    &.fixed{
        position   : fixed;
        bottom     : 0;
        left       : 0;
        right      : 0;
        z-index    : 100 !important;
        //        min-height : @footer-height;
        background : @footer-bg;
        color      : @footer-color;
    }

    &.info{
        background : fade(#000, 75%);
    }

    p{ }

    .footer-box{ }
}

//	Button to scroll top
//==================================================
#go-top{
    .button-color(#fff; fade(#000, 50%); fade(#000, 50%); @primary-color; @primary-bg; @primary-bg);
}