.img_gallery when (@widget-gallery = true){
    .inline-block-wrap(middle; li);

    li{
        position   : relative;
        text-align : center;
    }

    .image{
        display : block;
        border  : @thumbnail-border-width solid @thumbnail-border-color;

        img{
            width : 100%;
        }
    }

    .image-info{
        position   : absolute;
        bottom     : 0;
        left       : 0;
        right      : 0;
        font-size  : 12px;
        text-align : left;
        padding    : @padding-small-vertical @padding-small-horizontal;
        background : fade(#fff, 85%);
        color      : @gray-darker;

        label{
            font-size : 12px;
        }
    }

    .image_caption{
        position : absolute;
        bottom   : 0;
        left     : 0;
        right    : 0;
        z-index  : 10;
        margin   : 0;
        .text-overflow;
    }

    .best_price{
        z-index    : 100;
        position   : absolute;
        top        : 10px;
        right      : 5px;
        padding    : 0 @padding-small-horizontal;
        background : @primary-bg;
        color      : @primary-color;
    }

    &.masonry{
        .flexbox(@direction : row;@wrap : wrap;);

        li{
            height : 150px;

            img{
                width      : auto;
                max-height : 100%;
            }
        }
    }
}

// TODO add new gallery style  http://demosthenes.info/blog/844/Easy-Masonry-Layout-With-Flexbox
// Easy Masonry Layout With Flexbox